<div class="large-10 large-offset-1 columns">
    <app-element-feedback style="display: none;"></app-element-feedback>
    <ng-include class="row" ng-cloak style="display: none;" src="'assets/atoms/' + current_section() + '/filters.htm'"></ng-include>
    <div ng-if="element_status() == 'loading'" layout-align="space-around" layout="row" layout-margin>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div class="row collapse">
        <div ng-if="element_status() == 'ok'" class="medium-6 columns" ng-class="{'end': $last}" ng-repeat="card in elements()">
            <app-card-standard item="card" prefix="node.href"></app-card-standard>
        </div>
    </div>
    <app-paginator-controls></app-paginator-controls>
    <br>
    <app-back-bar></app-back-bar>
</div>
