<div ng-include="'assets/tab-bar.htm'"></div>
<div class="row" ng-controller="panfletsCtrl">
    <div class="large-10 large-offset-1 columns hide-for-print">
        <div ng-include="'assets/elements-feedback-header.htm'" style="display: none;"></div>
        <ng-include class="row" ng-cloak style="display: none;" src="'assets/atoms/' + sections()[sections().length - 2] + '/' + sections()[sections().length - 1] + '/filters.htm'"></ng-include>
        <div ng-if="element_status() == 'loading'" layout-align="space-around" layout="row" layout-margin>
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <br>
        <div class="row collapse">
            <div ng-if="element_status() == 'ok'" class="medium-12 columns" ng-class="{'end': $last}" ng-repeat="card in elements()">
                <ng-include src="'assets/atoms/' + sections()[sections().length - 2] + '/' + sections()[sections().length - 1] + '/card.htm'"></ng-include>
            </div>
        </div>
        <div ng-include="'assets/paginator.htm'"></div>
        <br>
        <app-back-bar></app-back-bar>
    </div>
</div>
