<div ng-include="'assets/tab-bar.htm'"></div>
<div ng-controller="hotelsCtrl">
    <div class="row">
        <div class="small-12 columns">
            <h2>{{ string_interpolate( translate('general.', 'numero_de_contenidos'), size(), current_section(), largest_size()) }}</h2>
        </div>
    </div>
    <div class="row" ng-cloak>
        <md-tabs md-dynamic-height>
            <md-tab label="Zona turística">
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised" ng-click="toggle_filter('ZONA', value)" ng-repeat="(value, label) in { 'Playa de las Américas': 'Playa de las Américas', 'Los Cristianos': 'Los Cristianos', 'Costa del Silencio': 'Costa del Silencio', 'Chayofa': 'Chayofa' }">{{ label }}</md-button>
                </div>
            </md-tab>
            <md-tab label="Categoría">
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised" ng-click="toggle_filter('INDICADORES.categoria.contents.label', value)" ng-repeat="(value, label) in { '2_estrellas': '2 estrellas', '3_estrellas': '3 estrellas', '4_estrellas': '4 estrellas', '5_estrellas': '5 estrellas' }">{{ label }}</md-button>
                </div>
            </md-tab>
            <md-tab label="Accesibilidad">
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised" ng-click="toggle_filter('INDICADORES.categoria.contents.label', value)" ng-repeat="(value, label) in { '2_estrellas': '2 estrellas', '3_estrellas': '3 estrellas', '4_estrellas': '4 estrellas', '5_estrellas': '5 estrellas' }">{{ label }}</md-button>
                </div>
            </md-tab>
            <md-tab label="Servicios">
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised" ng-click="toggle_filter('INDICADORES.categoria.contents.label', value)" ng-repeat="(value, label) in { '2_estrellas': '2 estrellas', '3_estrellas': '3 estrellas', '4_estrellas': '4 estrellas', '5_estrellas': '5 estrellas' }">{{ label }}</md-button>
                </div>
            </md-tab>
        </md-tabs>
    </div>
    <div class="row collapse">
        <div class="large-6 columns" ng-class="{'end': $last}" ng-repeat="card in elements()">
            <md-card flex-xs md-theme="default" md-theme-watch>
                <md-card-title>
                    <div class="medium-4 columns">
                        <md-card-title-media>
                            <img class="md-media-md card-media" alt="{{ card.name }}" src="http://www.arona.travel/portal/imagecache/ficha/{{ card.IMAGEN }}">
                        </md-card-title-media>
                    </div>
                    <div class="medium-8 columns">
                        <md-card-title-text>
                            <span class="md-headline" style="height: 2em;">
                                <a style="text-align: left;" href="#/{{ lang() }}/planea_tu_viaje/donde_alojarse/hoteles/{{ card.CODCONTENIDO }}">
                                    {{ card.TITULO }}
                                </a>
                            </span>
                            <span class="md-subhead" style="height: 3em;">{{ card.DIRECCION }}</span>
                        </md-card-title-text>
                    </div>
                </md-card-title>
                <md-card-actions layout="row">
                    <div class="medium-8 medium-offset-4 columns" layout="row">
                        <div flex-xs flex="50" layout="row" xs-layout="column">
                            <md-button class="md-primary" href="mailto:{{ card.EMAIL }}">EMAIL</md-button>
                            <md-button class="md-primary" href="{{ card.WEB_PROPIA }}">WEBSITE</md-button>
                        </div>
                        <div flex-xs flex="50" layout="row" xs-layout="column">
                            <md-card-icon-actions layout-align="end center">
                                <md-button href="{{ card.MAPA }}" target='_blank' class="md-icon-button md-primary">
                                    <md-icon class="material-icons">location_on</md-icon>
                                </md-button>
                                <md-button href="mailto:{{ card.CONTACTO }}" class="md-icon-button md-primary">
                                    <md-icon class="material-icons">contact_mail</md-icon>
                                </md-button>
                            </md-card-icon-actions>
                        </div>
                    </div>
                </md-card-actions>
            </md-card>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns" layout="row">
            <md-button ng-click="previous_page();" class="md-icon-button md-primary">
                <md-icon class="material-icons">keyboard_arrow_left</md-icon>
            </md-button>
            <md-button ng-disabled="p.current" ng-click="page(p.number);" ng-repeat="p in paginator_pages()" class="md-icon-button {{ p.current ? 'current': '' }}">
                    <span ng-if="p.current" class="show-for-sr">You're on page</span> {{ p.number }}
            </md-button>
            <md-button ng-click="next_page();" class="md-icon-button md-primary">
                <md-icon class="material-icons">keyboard_arrow_right</md-icon>
            </md-button>

        </div>
        <div class="small-6 columns text-right right">
            <p class="panel page-counter">{{ 
            string_interpolate( translate('general.', 'paginado_de_contenidos'),
            page(),
            pages().length,
            '',
            size() ) }}</p>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <div class="button-group tiny">
                <a class="button">
                    <span class="hide-for-sr">◀</span>
                    <span class="show-for-sr">{{ translate('general.', 'volver') }}</span>
                </a>
                <a class="button">{{ translate('general.', 'atras') }}</a>
            </div>
        </div>
        <div class="small-6 columns text-right right">
            <p class="panel last-modified">{{ string_interpolate(translate('general.', 'ultima_modificacion'), last_modified()) }}</p>
        </div>
    </div>
</div>



</div>


