<div ng-include="'assets/tab-bar.htm'"></div>
<div ng-controller="hotelsCtrl">
    <div class="row">
        <div class="small-6 columns">
            <h2>{{ string_interpolate( translate('general.', 'numero_de_contenidos'), size(), current_section(), largest_size()) }}</h2>
        </div>
        <div class="small-6 columns right"></div>
    </div>
    <div class="row">
        <div class="medium-3 columns">
            <select name="activities" placeholder="general.activities">
                <option value="agenda">Zona Turística</option>
            </select>
        </div>
        <div class="medium-3 columns">
            <select name="activities" placeholder="general.activities">
                <option value="agenda">Categoría</option>
            </select>
        </div>
        <div class="medium-3 columns">
            <select name="activities" placeholder="general.activities">
                <option value="agenda">Acesibilidad</option>
            </select>
        </div>
        <div class="medium-3 columns end">
            <select name="activities" placeholder="general.activities">
                <option value="agenda">Servicios</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="button-group centered toggle">
                <a class="button" ng-click="toggle_filter('INDICADORES.categoria.contents.label', value)" ng-repeat="(value, label) in { '2_estrellas': '2 estrellas', '3_estrellas': '3 estrellas', '4_estrellas': '4 estrellas', '5_estrellas': '5 estrellas' }">
                    {{ label }}
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 columns{{ $last ? ' end' : '' }}" ng-repeat="card in elements()">
            <div class="card">
                <div class="row">
                    <div class="small-4 columns">
                        <a href="#/{{ lang() }}/planea_tu_viaje/donde_alojarse/hoteles/{{ card.CODCONTENIDO }}">
                            <img alt="{{ card.name }}" src="http://www.arona.travel/portal/imagecache/ficha/{{ card.IMAGEN }}">
                        </a>
                    </div>
                    <div class="small-8 columns">
                        <a style="text-align: left;" href="#/{{ lang() }}/planea_tu_viaje/donde_alojarse/hoteles/{{ card.CODCONTENIDO }}">
                            <h1>{{ card.TITULO }}</h1>
                        </a>
                        <p>{{ card.DIRECCION }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="small-4 small-offset-4 columns">
                        <a href="mailto:{{ card.EMAIL }}">EMAIL</a>
                        <a href="{{ card.WEB_PROPIA }}">WEBSITE</a>
                    </div>
                    <div class="small-4 columns text-right">
                        <a href="{{ card.MAPA }}" target='_blank'>
                            <i class="material-icons">location_on</i>
                        </a>
                        <a href="mailto:{{ card.CONTACTO }}">
                            <i class="material-icons">contact_mail</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <ul class="pagination" role="navigation" aria-label="Pagination">
                <li class="pagination-previous" ng-click="previous_page();">
                    <a aria-label="Previous page"></a>
                </li>
                <li ng-repeat="p in pages()" class="{{ p.current ? 'current': '' }}" >
                    <a ng-if="! p.current" ng-click="page(p.number);">{{ p.number }}</a>
                    <span ng-if="p.current"><span class="show-for-sr">You're on page</span> {{ p.number }}</span>
                </li>
                <li class="pagination-next" ng-click="next_page();">
                    <a aria-label="Next page"></a>
                </li>
            </ul>
        </div>
        <div class="small-6 columns text-right right">
            <p class="panel page-counter">{{ 
            string_interpolate( translate('general.', 'paginado_de_contenidos'),
            page(),
            pages().length,
            '',
            size() ) }}</p>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <div class="button-group tiny">
                <a class="button">
                    <span class="hide-for-sr">◀</span>
                    <span class="show-for-sr">{{ translate('general.', 'volver') }}</span>
                </a>
                <a class="button">{{ translate('general.', 'atras') }}</a>
            </div>
        </div>
        <div class="small-6 columns text-right right">
            <p class="panel last-modified">{{ string_interpolate(translate('general.', 'ultima_modificacion'), last_modified()) }}</p>
        </div>
    </div>
</div>
