<article class="row columns" ng-controller="activityCtrl">
    <header class="row columns">
        <div class="small-10 small-offset-1 columns post-title">
            <h2>{{  element().TITULO }}</h2>
        </div>
        <div class="small-10 small-offset-1 columns end post-header">
            <div class="medium-3 columns">
                <img src="http://www.arona.travel/portal/imagecache/ampliado/{{ element().IMAGEN }}">
            </div>
            <div class="medium-9 columns">
                <p class="post-meta">
                <time datetime="{{ element().F_INICIO_PUB }}">{{ element().F_INICIO_PUB | date: 'EEE dd, MMM yyyy'}}</time>
                <span ng-if="element().F_FIN_PUB != null"> - </span>
                <time ng-if="element().F_FIN_PUB != null" datetime="{{ element().F_FIN_PUB }}">{{ element().F_FIN_PUB | date: 'EEE dd, MMM yyyy'}}</time>
                </p>
                <p class="post-meta" style="font-weight: bold;">
                <time datetime="{{ element().F_INICIO_PUB }}">{{ element().F_INICIO_PUB | date: 'hh:mm'}} h</time>
                <span ng-if="element().F_FIN_PUB != null"> - </span>
                <time ng-if="element().F_FIN_PUB != null" datetime="{{ element().F_FIN_PUB }}">{{ element().F_FIN_PUB | date: 'hh:mm'}} h</time>
                </p>
            </div>
        </div>
    </header>
    <div class="row columns" ig-if="element()['DESCRIPCION_COMUN'] != null">
        <div class="small-10 small-offset-1 columns end post-content" ng-bind-html="{{ element()['DESCRIPCION_COMUN'] }}"></div>
    </div>
</article>
