<div ng-include="'assets/tab-bar.htm'"></div>
<div class="row" ng-controller="videoCtrl">
    <div ng-if="element_status() == 'loading'" layout-align="space-around" layout="row" layout-margin>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div class="small-10 small-offset-1 columns">
        <ul class="video-list">
            <li ng-repeat="item in elements()">
                <div layout="row" class="row">
                    <a layout="row" flex ng-href="{{ item.RECURSOS[0].RECURSO.substring(0,4) == 'http' ? item.RECURSOS[0].RECURSO : 'http://www.arona.org/portal/' + item.RECURSOS[0].RECURSO }}" layout-margin>
                        <div class="square" style="background-image: url(http://www.arona.org/portal/imagecache/ampliado/{{ item.IMAGEN }})"></div>
                        <div flex>
                            <h1 ng-bind="item.TITULO"></h1>
                            <p ng-bind="item.DESCRIPCION_COMUN"></p>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="large-10 large-offset-1 columns" ng-controller="videoCtrl">
        <div ng-include="'assets/paginator.htm'"></div>
        <br>
        <div ng-include="'assets/back-bar.htm'"></div>
    </div>
</div>
