<div class="row">
    <div class="large-10 large-offset-1 columns">
        <article class="small-12 columns activity-view" ng-controller="descriptivoCtrl">
            <header>
                <div class="row post-title"><h2 ng-bind="element().TITULO"></h2></div>
                <div class="row post-header">
                    <div class="medium-3 columns">
                        <div class="square" style="background-image: url(http://www.arona.org/portal/imagecache/ampliado/{{ element().IMAGEN }});"></div>
                    </div>
            <div layout="column" class="row post-content">
                <div class="activity-content" layout="column" ng-if="element()['DESCRIPCION_COMUN'] != null">
                    <div ng-bind-html="element()['DESCRIPCION_COMUN'] | trust"></div>
                </div>
                <div class="activity-content" layout="column" ng-if="element()['TEXTO'] != null">
                    <div ng-bind-html="element()['TEXTO'] | trust"></div>
                </div>
            </div>
        </article>
    </div>
</div>
<div class="row">
    <div class="large-10 large-offset-1 columns">
        <div class="small-12 columns" ng-include="'assets/back-bar.htm'"></div>
    </div>
</div>
