<md-card flex-xs md-theme="default" md-theme-watch style="min-height: 250px; background-color: #f6f6f6;">
    <md-card-title>
        <div style="flex-basis:125px;">
            <md-card-title-media>
                <img class="md-media-md card-media" alt="{{ card.name }}" src="http://www.arona.org/portal/imagecache/ficha/{{ card.IMAGEN }}">
            </md-card-title-media>
        </div>
        <div flex>
            <md-card-title-text>
                <span class="md-headline" style="font-size: 18px;">
                    <a style="text-align: left;" href="#/{{ lang() }}/{{ sections()[1] }}/{{ sections()[2] }}/{{ sections()[3] }}/{{ card.CODCONTENIDO }}" ng-bind-html="card.TITULO | trust"></a>
                </span>
                <span class="md-subhead" style="padding-top: 0;">{{ card.DIRECCION }}</span>
            </md-card-title-text>
        </div>
    </md-card-title>
    <md-card-actions layout="row">
        <div class="show-for-large" style="flex-basis:115px;"></div>
        <div flex layout="row">
            <div flex-xs flex="50" layout="row" xs-layout="column">
                <md-button class="md-primary" ng-if="card.EMAIL != null" ng-href="{{ 'mailto:' + card.EMAIL }}">EMAIL</md-button>
                <md-button class="md-primary" ng-if="card.WEB_PROPIA != null" ng-href="{{ card.WEB_PROPIA }}">WEBSITE</md-button>
            </div>
            <div flex-xs flex="50" layout="row" xs-layout="column">
                <md-card-icon-actions layout-align="end center">
                    <md-button href="{{ card.MAPA }}" target='_blank' class="md-icon-button md-primary">
                        <md-icon class="material-icons">place</md-icon>
                    </md-button>
                    <md-button ng-if="card.CONTACTO != null" ng-href="{{ 'mailto:' + card.CONTACTO }}" class="md-icon-button md-primary">
                        <md-icon class="material-icons">contact_mail</md-icon>
                    </md-button>
                </md-card-icon-actions>
            </div>
        </div>
    </md-card-actions>
</md-card>
