<md-tabs md-dynamic-height>
    <md-tab label="Zona turística">
        <div layout-gt-xs="row" layout="column" layout-align="center center" style="padding-top: 1.5em;padding-bottom: 2em;">
            <md-button class="md-raised" ng-click="toggle_filter('ZONA', value)" ng-repeat="(value, label) in { 'Playa de las Américas': 'Playa de las Américas', 'Los Cristianos': 'Los Cristianos', 'Costa del Silencio': 'Costa del Silencio', 'Chayofa': 'Chayofa' }">{{ label }}</md-button>
        </div>
    </md-tab>
    <md-tab label="Categoría">
        <div layout-gt-xs="row" layout="column" layout-align="center center" style="padding-top: 1.5em;padding-bottom: 2em;">
            <md-button class="md-raised" ng-click="toggle_filter('INDICADORES.categoria.contents.label', value)" ng-repeat="(value, label) in { '2_estrellas': '2 estrellas', '3_estrellas': '3 estrellas', '4_estrellas': '4 estrellas', '5_estrellas': '5 estrellas' }">{{ label }}</md-button>
        </div>
    </md-tab>
    <md-tab label="Accesibilidad">
        <div layout-gt-xs="row" layout="column" layout-align="center center" style="padding-top: 1.5em;padding-bottom: 2em;">
            <md-button class="md-raised" ng-click="toggle_filter('INDICADORES.categoria.contents.label', value)" ng-repeat="(value, label) in { '2_estrellas': '2 estrellas', '3_estrellas': '3 estrellas', '4_estrellas': '4 estrellas', '5_estrellas': '5 estrellas' }">{{ label }}</md-button>
        </div>
    </md-tab>
    <md-tab label="Servicios">
        <div layout-gt-xs="row" layout="column" layout-align="center center" style="padding-top: 1.5em;padding-bottom: 2em;">
            <md-button class="md-raised" ng-click="toggle_filter('INDICADORES.categoria.contents.label', value)" ng-repeat="(value, label) in { '2_estrellas': '2 estrellas', '3_estrellas': '3 estrellas', '4_estrellas': '4 estrellas', '5_estrellas': '5 estrellas' }">{{ label }}</md-button>
        </div>
    </md-tab>
</md-tabs>
