.centered { text-align: center; }
.full-width { width: 100%; }

.strong {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 150%;
    .material-icons {
        line-height: 0.6em;
    }
}

.contrast {
    background-color: $main-color-contrast !important;
}
