@import '_colors.scss';
@import '_fonts.scss';
@import '_helpers.scss';
@import '_skel.scss';
@import '_foundation.scss';
@import '_angular-material.min.scss';
@import '_sass_imports.scss';

div {
    p{
        font-size: 14px;
    }
}

.ng-hide-add {
    -webkit-animation:0.5s fadeOut ease; 
    animation:0.5s fadeOut ease; 
}

.ng-hide-remove {
    -webkit-animation:0.5s fadeIn ease; 
    animation:0.5s fadeIn ease; 
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
