<div class="large-10 large-offset-1 columns">
    <app-element-feedback style="display: none;"></app-element-feedback>
    <ng-include class="row" ng-cloak style="display: none;" src="'assets/atoms/' + sections()[sections().length - 3] + '/' + sections()[sections().length - 2] + '/filters.htm'"></ng-include>
    <div ng-if="element_status() == 'loading'" layout-align="space-around" layout="row" layout-margin>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div class="row collapse">
        <div ng-if="element_status() == 'ok'" class="medium-6 columns" ng-class="{'end': $last}" ng-repeat="card in elements()">
            <ng-include src="'assets/atoms/' + sections()[sections().length - 3] + '/' + sections()[sections().length - 2] + '/card.htm'"></ng-include>
        </div>
    </div>
    <div ng-include="'assets/paginator.htm'"></div>
    <br>
    <app-back-bar></app-back-bar>
</div>
