<div class="row bottomnav">
    <div class="small-10 small-offset-1 columns">
        <div class="row">
            <div ng-if="$index < 4" class="small-6 medium-3 columns" ng-repeat="(label, link) in nav">
                <ul>
                    <li><a href="#/{{lang()}}{{link.href}}">{{ translate("pagina.titulo_", label) }}</a></li>
                    <li ng-repeat="(sublabel, sublink) in link.content">
                        <a href="#/{{lang()}}{{sublink.href}}">{{ translate("pagina.titulo_", sublabel) }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
