<div class="breadcrumbs-wrapper">
    <nav class="row" aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li ng-repeat="crumb in breadcrumbs()">
                <a ng-if="crumb.current == undefined || crumb.current == false" href="{{crumb.href}}">{{ translate( "pagina.titulo_", crumb.label ) }}</a>
                <span ng-if="crumb.current == true"><span class="show-for-sr">{{ translate( "general.actual" ) }}: </span> {{ translate( "pagina.titulo_", crumb.label ) }}</span>
            </li>
        </ul>
    </nav>
</div>
