<div class="row large-8 large-offset-2 columns collapse link-lists">
    <div ng-if="link.content != undefined" ng-repeat="(label, link) in sublinks()" class="row collapse">
        <div class="large-6 {{ $even? '' : 'large-push-6' }} columns" style="background-image: url('/img/backgrounds/pagina.{{ label }}.png'), linear-gradient(to bottom, grey, grey);"></div>
        <div class="large-6 {{ $even? '' : 'large-pull-6' }} columns">
            <ul class="link-list">
                <li>
                    <a href="#/{{ lang() }}{{ link.href }}">{{ translate('pagina.titulo_', label) }}</a>
                </li>
                <li ng-repeat="(sublabel, sublink) in link.content">
                    <a href="#/{{ lang() }}{{ sublink.href }}">{{ translate('pagina.titulo_', sublabel) }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div flex layout="column" style="width: 100%; background-color: #f6f6f6;">
    <div layout="row" class="large-8 large-offset-2 columns" layout-margin="24px">
        <div flex ng-if="link.content == undefined" ng-repeat="(label, link) in sublinks()">
            <a flex layout="row" class="icon-button" href="#/{{ lang() }}{{ link.href }}">
                <div><md-icon class="material-icons md-primary">{{ translate('pagina.icono_', label) }}</md-icon></div>
                <span>{{ translate('pagina.titulo_', label) }}</span>
            </a>
        </div>
    </div>
</div>
