<header ng-if="level() == 1" class="medium-12 columns index-header" style="background-image: url(/img/backgrounds/home.png);">
    <div class="row">
        <div class="small-10 small-offset-1 columns">
            <a class="site-title" href="#/{{ lang() }}/">
                <div class="row"><h1>{{ translate('general.titulo') }}</h1></div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="small-10 small-offset-1 columns">
            <h2>{{ translate('general.subtitulo') }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="small-10 small-offset-1 columns">
            <p>{{ translate('general.', 'texto_bienvenida') }}</p>
        </div>
    </div>
</header>
<header ng-if="level() > 1" class="medium-12 columns section-header" style="background-image: url(/img/headers/pagina.{{ sections()[1] }}.png)">
    <div class="row">
        <div class="small-10 small-offset-1 columns">
            <h1>{{ translate('pagina.titulo_', sections()[1] ) }}</h1>
            <h2 ng-if="( translate('pagina.subtitulo_', sections()[1] ) != '' ) && ( level() == 2 )">{{ translate('pagina.subtitulo_', sections()[1] ) }}</h2>
        </div>
    </div>
</header>
