<header ng-if="level() == 1" class="text-center index-header" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0)), url(/img/backgrounds/home/{{ ::randomInt(3) | pad: 2  }}.jpg);">
    <div class="inner-wrapper">
        <a class="site-title" href="#/{{ lang() }}/">
            <h6>{{ translate('general.titulo') }}</h6>
        </a> <a href="#">
            <h1>Playa de las Americas</h1>
        </a> <br>
        <a href="#">
            <h1>Costa del Silencio</h1>
        </a> <br>
        <a href="#">
            <h1>Playa de los Cristianos</h1>
        </a>
        <div hide-xs layout-gt-xs="row" layout-padding>
            <div flex></div>
            <div flex flex-gt-xs="33" layout="row">
                <div hide-xs flex="15"></div>
                <div flex="100" class="text-center">
                    <a class="button opaque full-width" href="#/{{ lang() }}/vive_tu_estancia"><span>{{ translate('pagina.titulo_conoce_arona') }}</span></a>
                </div>
            </div>
            <div layout="row" flex-gt-xs="33">
                <div flex="100">
                    <div class="text-center">
                        <a class="button opaque full-width" href="#/{{ lang() }}/galeria/tour_virtual_360"><span>{{ translate('pagina.titulo_tour_virtual_360') }}</span></a>
                    </div>
                </div>
                <div flex flex-xs="15" flex-sm="15" class="text-left" style="margin-left: 0.2em;">
                    <a class="button" href="#/{{ lang() }}/galeria" style="padding: 0.48rem;"><md-icon style="color:white;" class="material-icons">camera_alt</md-icon></a>
                </div>
            </div>
            <div flex></div>
        </div>
        <div class="row columns text-center"> <a href="#/{{ lang() }}/">
                <img src="img/logo.svg">
            </a>
        </div>
    </div>
</header>
<div ng-if="level() == 1" hide-gt-xs layout-gt-xs="row" layout-padding style="margin-bottom: 2em;">
    <div flex></div>
    <div flex flex-gt-xs="33" layout="row">
        <div hide-xs flex="15"></div>
        <div flex="100" class="text-center">
            <a class="button opaque full-width" href="#/{{ lang() }}/vive_tu_estancia"><span>{{ translate('pagina.titulo_disfruta_de_arona') }}</span></a>
        </div>
    </div>
    <div layout="row" flex-gt-xs="33">
        <div flex="100">
            <div class="text-center">
                <a class="button opaque full-width" href="#/{{ lang() }}/galeria/tour_virtual_360"><span>{{ translate('pagina.titulo_tour_virtual_360') }}</span></a>
            </div>
        </div>
        <div flex flex-xs="15" flex-sm="15" class="text-left" style="margin-left: 0.2em;">
            <a class="button" href="#/{{ lang() }}/galeria" style="padding: 0.48rem;"><md-icon style="color:white;" class="material-icons">camera_alt</md-icon></a>
        </div>
    </div>
    <div flex></div>
</div>
<header ng-if="level() > 1" class="section-header" style="background-image: linear-gradient(to bottom, rgba(00, 00, 00, 0.4), rgba(00, 00, 00, 0.4)), url(/img/headers/pagina.{{ sections()[3] }}.png), url(/img/headers/pagina.{{ sections()[2] }}.png), url(/img/headers/pagina.{{ sections()[1] }}.png)">
    <div class="row">
        <div class="large-10 large-offset-1 columns">
            <h1>{{ translate('pagina.titulo_', sections()[1] ) }}</h1>
            <h2 ng-if="( translate('pagina.subtitulo_', sections()[1] ) != '' ) && ( level() == 2 )">{{ translate('pagina.subtitulo_', sections()[1] ) }}</h2>
        </div>
    </div>
</header>
