<md-menu>
    <md-button class="md-button" ng-click="mainCtrl.openMenu($mdOpenMenu, $event)" style="min-width: unset;">
        {{ lang() | uppercase }} <md-icon md-menu-origin class="material-icons">language</md-icon>
    </md-button>
    <md-menu-content width="3">
        <md-menu-item ng-if="lang() != l" ng-repeat="l in available_languages()">
            <md-button href="#{{ path().replace( lang(), l ) }}">{{ translate('idioma.', l ) }}</md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
