<div layout-margin ng-if="element().CONTENIDOS_RELACIONADOS.length > 0">
    <h2 style=" text-transform: uppercase; font-size: 20px; line-height: 1.2; border-bottom: 2px solid #d2251a;
    ">{{ translate( 'general.', 'contenidos_relacionados') | capitalize | gsub:'_':' ' }}</h2>
    <md-grid-list md-cols-gt-xs="2" md-cols="1" md-row-height="3:1" flex class="hide-for-print">
        <md-grid-tile md-rowspan="1" md-colspan="1" ng-repeat="card in element().CONTENIDOS_RELACIONADOS">
            <md-card flex md-theme="default" md-theme-watch style="min-height: 150px; background-color: #f6f6f6;">
                <md-card-title style="padding: 16px;">
                    <div style="flex-basis:125px;">
                        <md-card-title-media>
                            <img class="md-media-md card-media" alt="{{ card.name }}" src="http://www.arona.org/portal/imagecache/ficha/{{ card.IMAGEN }}">
                        </md-card-title-media>
                    </div>
                    <div flex>
                        <md-card-title-text>
                            <span class="md-headline" style="font-size: 18px;">
                                <a style="text-align: left;" href="#/{{ lang() }}/{{ sections()[1] }}/{{ sections()[2] }}/{{ sections()[3] }}/{{ card.CODCONTENIDO }}">
                                    {{ card.TITULO }}
                                </a>
                            </span>
                            <span class="md-subhead" style="padding-top: 0;">{{ card.DESCRIPCION_COMUN }}</span>
                        </md-card-title-text>
                    </div>
                </md-card-title>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</div>
