#apparona {
    overflow: visible !important;
    h1 {
        font-size: 180%;
        color: #d2251a;
    }
    h2 {
        color: black;
        font-size: 150%;
    }
}

/* layout-gte-xs */
@media screen and (min-width: 600px) {
    #apparona {
        img[src="img/apparona.png"] {
            margin-top: -6em;
        }
    }
}
