#playas_de_arona {
    padding: 3em 0 !important;
    h2 { color: white; }
    > div {
        &:nth-child(1),
        &:nth-child(2){
            > div {
                padding: 3em;
                background-color: rgba(33, 78, 146, 0.6);
                min-height: 15em;
            }
        }
        &:nth-child(3){
            margin-top: 3em;
        }
    }
}
