<div ng-if="elements().length > 0" class="showcaser" layout="row">
    <div layout="column" flex layout-align="center center">
        <div>
            <h1>{{ translate('pagina.titulo_actividades') }}</h1>
        </div>
        <div>
            <h2>{{ translate('pagina.subtitulo_actividades') }}</h2>
        </div>
    </div>
</div>
<app-showcaser ng-if="elements().length > 0" lang="lang()" href="'#!/' + lang() + '/actividades'" label="translate('pagina.texto_boton_actividades')" schema="translate('date.schema')" elements="elements()"></app-showcaser>
