<div class="row"><h1>{{ translate('pagina.titulo_', 'agenda') }}</h1></div>
<div class="row">
    <ul class="video-list">
        <li ng-repeat="x in nav" ng-if="$index < 4">
            <div class="row">
                <a href="#">
                    <div class="small-2 columns">
                        <img src="/img/videos/01.png">
                    </div>
                    <div class="small-10 columns">
                        <time>01/04/2016 | 13:20</time>
                        <h2>Arona, nuevo destino turístico (Spot promocional 2016)</h2>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>
