<div class="large-8 large-offset-2 columns collapse link-lists">
    <div ng-if="$index < 4" ng-repeat="(label, link) in sublinks()" class="row collapse">
        <div class="large-6 {{ $even? '' : 'large-push-6' }} columns" style="background-image: url('/img/backgrounds/pagina.{{ label }}.png');"></div>
        <div class="large-6 {{ $even? '' : 'large-pull-6' }} columns">
            <ul class="link-list">
                <li>
                    <a href="#/{{ lang() }}{{ link.href }}">{{ translate('pagina.titulo_', label) }}</a>
                </li>
                <li ng-repeat="(sublabel, sublink) in link.content">
                    <a href="#/{{ lang() }}{{ sublink.href }}">{{ translate('pagina.titulo_', sublabel) }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
