<div class="row large-8 large-offset-2 columns collapse link-lists">
    <div ng-if="$index < 4" ng-repeat="(label, link) in sublinks()" class="row collapse">
        <div class="large-6 {{ $even? '' : 'large-push-6' }} columns" style="background-image: url('/img/backgrounds/pagina.{{ label }}.png');"></div>
        <div class="large-6 {{ $even? '' : 'large-pull-6' }} columns">
            <ul class="link-list">
                <li>
                    <a href="#/{{ lang() }}{{ link.href }}">{{ translate('pagina.titulo_', label) }}</a>
                </li>
                <li ng-repeat="(sublabel, sublink) in link.content">
                    <a href="#/{{ lang() }}{{ sublink.href }}">{{ translate('pagina.titulo_', sublabel) }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row small-12 columns">
    <div class="medium-6 large-4 large-offset-2 columns"> <a class="button transparent-black full-width" href="#/{{ lang() }}/planea_tu_viaje/folletos_y_mapas">
            <div class="small-1 small-offset-1 columns"> <i class="material-icons">maps</i>
            </div>
            <div class="small-9 columns end"> <span>{{ translate('pagina.titulo_folletos_y_mapas') }}</span>
            </div>
        </a>
    </div>
    <div class="medium-6 large-4 columns end"> <a class="button transparent-black full-width" href="#/{{ lang() }}/planea_tu_viaje/oficinas_de_informacion">
            <div class="small-1 small-offset-1 columns"> <i class="material-icons">information</i>
            </div>
            <div class="small-9 columns end"> <span>{{ translate('pagina.titulo_oficinas_de_informacion') }}</span>
            </div>
        </a>
    </div>
</div>
<div class="row large-8 large-offset-2 columns collapse">
    <div id="actividades" ng-include="'assets/atoms/main/actividades.htm'" class="main-row"></div>
</div>
