.footer-wrapper {
    background-color: #015aa9;
    color: $main_color_contrast;
    border-top: 2px solid $edges_color;
    text-align: center;

    a {
        color: $main_color_contrast;
    }
    > div {
        font-size: 100%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .row {
        &:nth-child(1){
            padding-top: 1em;
            padding-bottom: 1em;
        }
        &:nth-child(2){
            background-color: $main_color;
            height: 4em;
        }
    }
}
