.page-level-2 {
    background-color: $main_color_contrast;

    & > *:not(app-titlebar) {
        color: $main_color;

        h1 {
            color: $black;
            &.secondary-header-title {
                color: $white;
            }
        }
        h2 {
            color: $main_color;
            &.secondary-header-subtitle {
                color: $white;
            }
        }
    }

}
