.panel {
    background-color: $body_background_color;
    background-image: $body_background_image;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    padding-top: 2em;
    padding-bottom: 2em;

    > *:not(:nth-child(1)) {
        background-color: $content_background_color;
    }
}
