.panel {
    h1, h2, h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    h1 {
        text-transform: uppercase;
    }
    h2, h3 {
        display: inline-block;
    }
}
/* Small only */
@media screen and (max-width: 39.9375em) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 18px;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 30px;
    }
}
