.index-header {
    min-height: 430px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h1, h2 {
        color: white;
    }
    > div {
        &:first-of-type {
            padding-top: 2em;
        }
    }
    a{
        color: $main_color_contrast;
    }
}
.section-header {
    color: $main_color_contrast;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    padding: 1em 0;
    h1, h2 {
        text-align: center;
        width: 100%;
        color: white;
    }
    h1:only-child{
        text-align: left;
    }
}
