.territorial-header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $main_color_contrast;
    margin-bottom: 3em;
    min-height: 35rem;
    padding-top: 5rem !important;
    text-align: center;
    h1 {
        border-bottom: 2px solid $main_color;
        margin-left: 25%;
        max-width: 50%;
        min-width:0;
        padding: 0.5em;
        width:auto;
    }
    h1, h2 {
        color: $main_color_contrast;
        text-shadow: 1px 1px 1px black;
    }
}
