.title-bar {
    padding: 0;
    background-color: $main_color;
    color: $main_color_contrast;
    a {
        background-color: $main_color;
        color: $main_color_contrast;
    }
    > .title-bar-left {
        text-transform: uppercase;
        > div:first-child {
            padding: 0.7em;
        }
    }
    > .title-bar-right {
        .icon-wrapper {
            padding: 0.7em;
        }
    }
}
