.video-list {
    padding-left: 1.1em;
    margin: 0;
    h2 {
        font-size: 16px;
        line-height: 28px;
        color: grey;
    }
    time {
        font-size: 14px;
        color: $main_color;
    }
    p {
        font-size: 16px;
        line-height: 26px;
        color: grey;
    }
    img {
        width: 80px;
        height: 80px;
    }
    li {
        &:not(:first-child){margin-top: 1.5em;}
        padding-bottom: 1.5em;
        list-style-type: none;
        &:not(:last-child){border-bottom: 2px solid lightgrey;}
    }
    .columns:first-child {
        padding: 0;
    }
}
